@import url(https://fonts.googleapis.com/css?family=Karla);
$assetPath : "/assets/imgs";

$font-stack:Karla, Helvetica, sans-serif;

$font-size: 14px;
$font-size-base: $font-size !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px

$line-height: $font-size * 1.6;

$h-1: (
	base: rem(30px),
	tablet: rem(36px),
	desktop: rem(44px),
);
$h-2: (
	base: rem(26px),
	tablet: rem(30px),
	desktop: rem(36px),
);
$h-3: (
	base: rem(22px),
	tablet: rem(26px),
	desktop: rem(30px),
);

$p: rem(16px);
$p-small: rem(12px);
$p-medium: rem(18px);
$p-large: rem(24px);

$color-primary:#2FBE28;
$color-secondary: #32db64;
$color-background: #fefefe !default;
$color-text: #333 !default;
$color-text-button: #333 !default;
$color-border: #aaa !default;
$color-table-row: lighten($color-text, 75%) !default;
$color-toggle-on: rgb(39, 198, 22) !default;
$color-toggle-off: rgb(208, 210, 211) !default;

//
// Color system
//

$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #000;

$blue:    #0073dd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$theme-colors: (
  primary: $color-primary,
  secondary: $color-secondary,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);


// Header
$header-font-stack: $font-stack;
$header-font-size: 18px;
$header-brand-font-size: 42px;
$header-font-color: rgb(255,255,255);
$header-height: 100px;
$header-background-color: $color-primary;

// Footer
$footer-font-stack: $font-stack;
$footer-font-size: 25px;
$footer-height: 505px;
$footer-background-color: #aaa;


