<div class="upload-container bg-light">
    <div class="upload-box">
      <h1 translate>upload form</h1>
      <div>
        <h6 class="d-inline-block">v{{version}}</h6>
        <div class="d-inline-block ml-3" ngbDropdown>
          
          <div ngbDropdownMenu aria-labelledby="language-dropdown">
            <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
              {{language}}
            </button>
          </div>
        </div>
      </div>
     
    </div>
  </div>